desktop.ini
teste.py
teste.html
aula composer 2*
vendor*
# semestre_2\08 - Agosto\aula_composer_2 - phpmailer\index.php
semestre_2\08 - Agosto\aula_composer_2 - phpmailer\index.php
C:\xampp\htdocs\pw2\semestre_2\08 - Agosto\aula_composer_2 - phpmailer\index.php
composer.lock