:root {
  --azul: #1b305a;
  --verde1: #059669;
  --verde2: #86efac;
  --verdeDark: #047450;
  /* --azul: #00bdf8; */
  --vermelho: crimson;
  --cinza2: #cbd5e1;
  --cinza3: #94a3b8;
  --cinza4: #64748b;
  --slate700: #334155;
  --slate900: #0f172a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
}

body {
  color: var(--azul);
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gap-1 {
  gap: 1rem;
}

#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: var(--azul);
  color: white;
  height: 3.5rem;
}

a {
  text-decoration: none;
}

a {
  color: white;
}

#cpf-rg-div,
#selects,
#tel-email {
  margin-block: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  text-align: center;
}

h1{
  margin-block: 2rem;
}

button {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  background: var(--verde1);
  color: white;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

button:hover {
  cursor: pointer;
  background: var(--verdeDark);
  box-shadow: 0 10px 15px -3px #0596683d, 0 4px 6px -4px #0596683d;
}

fieldset{
  border: none;
  border-radius: 1.5rem;
  background: whitesmoke;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

input,select{
  border: solid 1px black;
  border-radius: 0.4rem;
  padding: 0.3rem;
}