*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    padding: 0px;
    margin: 0;
}

#container{
    background-color: #d9d3c5;
    background-image: linear-gradient(#d9d3c5, #afaba2, #e7e7e7);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    height: 70%;
    width: 100%;
    position:static;
    min-width: 30%;
    flex-wrap: wrap;
    flex-grow: calc(100%/3);
    margin:auto;
    border:solid black 1px;
    margin-top: 30px;
}

button{
    border-radius: 5px !important; 
}

#reload{
    font-weight: normal;
    padding: 10px;
    margin: 0 auto;
}

#reload-div{
    display: flex;
    justify-content: center;
}

#confirma{
    background-color: #25a34f;
    /* background-image: radial-gradient(#43b770, #2c8d51); */
    /* color: rgb(37, 37, 37); */
    color: black;
    border: none;
    padding: 5px;
}

#corrige{
    background-color: #e7661b;
    /* background-image: radial-gradient(rgb(247, 174, 97), #e7661b); */
    /* color: rgb(37, 37, 37); */
    color: black;
    border: none;
    padding: 5px;
    margin-right: 5px;
}

#branco{
    background-color: white;
    /* background-image: radial-gradient(whitesmoke, white); */
    /* color: rgb(37, 37, 37); */
    color: black;
    border: none;
    padding: 5px;
    margin-right: 5px;
}

#branco-corrige-confirma{
    margin-top: 20px;
}

#imgCandidato{
 display: flex;
 flex-direction: row;
 justify-content: right;
 align-items: center;
}

#foto{
    /*  */
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    margin-right: 10px;
    border: solid 1px black;
    visibility: hidden;
}

img{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
  
}

.linha{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#coluna{
    display:flex ;
    flex-direction: column;
    justify-content: center;
}

button:hover{
    scale: 1.1;
    transition: all 0.2s ease-in-out;
}

.botao{
    background-color: #242422;
    background-image: linear-gradient(to top right, #242422, #0a0a0a);
    color: whitesmoke;
    border: solid 1px rgb(68, 68, 68);
    height: 30px;
    width: 50px;
    margin: 5px 5px 5px 5px;
    box-shadow: black 2px 2px 2px;
}

.hidden{
    visibility: hidden;
}

#direita{
    background-color: #3f3b3a;
    background-image: linear-gradient(to top right, #3f3b3a, #1818188e);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 350px;
    height: 400px;
    margin-top: 35px;
    flex-wrap: wrap;
    box-shadow: 2px 2px 10px rgba(51, 51, 51, 0.13);
    border: solid 1px black;
}

#esquerda{
    background-image: linear-gradient(to top right, #e5e5e3, whitesmoke, #dadada,whitesmoke, #dadada );
    display: flex;
    flex-direction: row;
    padding: 0px 10px 0px 10px;
    justify-content: center;
    top: 50%;
    width: 600px;
    height: 400px;
    min-width: 100px;
    margin-top: 35px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 10px rgba(51, 51, 51, 0.13);
    border: solid 1px black;
}

.tabela{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tr{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#infosCandidato{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-grow: 2;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: center;
    width: 500px;
    margin-left: 40px;
} 

#nomeCandidato, #numPartido, #partido{
    border: solid black 1px;
    margin-bottom: 20px;
    width: 150px;
    height: 30px;
}

h5:nth-child(1){
    margin-top: 10px;
}

input, input:active{
    margin: 5px;
    border: solid 1px black;
    text-align: center;
    background-image: linear-gradient(to top right, #e5e5e3, #dadada);
}

input:active{
    margin: 5px;
    border: solid 1px black;
    border-radius:1px ;
    text-align: center;
    background-image: linear-gradient(to top right, #e5e5e3, #dadada);
    cursor: not-allowed;
}

/* div{
    border: solid 1px red;
} */

#jusEleitoral{
    background-color: #f3f0e7;
    margin-bottom: 40px;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: rgb(37, 37, 37);
}

#tseBrasao{
    height: 60px;
}

#candidatos{
    /* border-bottom:solid 1px #242422; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* height: 85px; */
    height: 85px;
    margin-bottom: 0px;
    /* background-color:rgb(190, 13, 48); */
    color: black;
    flex-wrap:nowrap;
    flex-grow: calc(100%/3);
}

.infoCandidato{
    display: flex;
    align-items: center;
}

.infoCandidato>img{
    margin-left: 10px;
    border-radius: 10px;
    height: 60px;
    border: solid 1px black;
}

.infoCandidato>img:nth-child(1){
    background-color:#f3f0e7;
}

.zero{
    justify-content: center;
}

#fim{
    display: none;
    flex-direction: row !important;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 8em;
}
Footer
© 2023 GitHub, Inc.
Footer navigation
Terms
Privacy
Security
Status