:root {
  --azul: #1b305a;
  --azul2: #314d84;
  --verde1: #059669;
  --verdeDark: #047450;
  --cinza2: #cbd5e1;
  --cinza3: #94a3b8;
  --cinza4: #64748b;
  --slate700: #334155;
  --slate900: #0f172a;
  --amarelo500: #eab308;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
}

#header,
#cpf-rg-div,
#selects,
#tel-email,
fieldset,
#pesquisas-infoscolumn,
.div-candiatos,
main,
.mais-infos,
.div-select,
#selects,
.flex-row,
.flex-col {
  display: flex;
}

#header,
#cpf-rg-div,
#selects,
#tel-email,
main,
#selects,
.flex-row {
  flex-direction: row;
}

fieldset,
#pesquisas-infos,
.div-candiatos,
.mais-infos,
.div-select,
.flex-col {
  flex-direction: column;
}

.flex-row,
.flex-col,
#cpf-rg-div,
#selects,
#tel-email,
.mais-infos,
.div-select {
  align-items: center;
  justify-content: center;
}

#cpf-rg-div,
#selects,
#tel-email,
#pesquisas-infos,
#selects,
.gap-1 {
  gap: 1rem;
}

#header {
  justify-content: space-around;
  align-items: center;
  height: 3.5rem;
}

#header,
.div-candiatos {
  background: var(--azul);
}

#header,
header a,
button,
.div-candiatos {
  color: white;
}

a {
  text-decoration: none;
}

body,
a,
label,
#pesquisas-infos strong,
input[type="text"],
input[type="email"] {
  color: var(--azul);
}

a:hover {
  color: var(--azul2);
}

header a,
.div-candiatos span:nth-child(2),
label,
#votar-link {
  font-weight: bold;
}

a,
a:hover,
#header-links a,
#header-links a:hover,
.div-candiatos,
.div-candiatos:hover,
#logo-header img,
#logo-header img:hover {
  transition: all 0.5s;
}

#cpf-rg-div,
#selects,
#tel-email {
  margin-block: 1rem;
}

h1,
h2,
h3,
h4,
h5,
#votar-link {
  text-align: center;
}

h1 {
  margin-block: 1rem;
}

button {
  padding: 0.5rem;
  border: none;
  background: var(--verde1);
}

button,
input[type="text"],
input[type="email"],
.div-candiatos,
.mais-infos span:nth-child(1),
#porcentagem-1,
#porcentagem-2,
#porcentagem-3,
#porcentagem-4,
.porcentagem {
  border-radius: 0.5rem;
}

fieldset {
  border: none;
  justify-content: space-around;
  align-items: center;
  border-radius: 1.5rem;
  width: 50vw;
  background: #f1f5f9;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  padding-block: 4rem;
}

input[type="text"],
input[type="email"] {
  padding: 0.4rem;
  border: none;
  border: solid 1px var(--azul);
  background: none;
}

input[type="text"]::placeholder,
input[type="email"] ::placeholder {
  color: var(--cinza4);
}

#header-links a {
  padding-bottom: 1.1rem;
}

#header-links a:hover {
  color: var(--amarelo500);
}

p {
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  font-size: 1.125rem;
  line-height: 1.625rem;
  color: #6b6b6b;
}

#pesquisas-infos {
  padding: 2rem;
}

.div-candiatos {
  justify-content: center;
  align-items: center;
  width: 20rem;

  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 22%), 0 4px 6px -4px rgb(0 0 0 / 9%);
}

.div-candiatos:hover {
  background: var(--azul2);

  cursor: pointer;
  box-shadow: 0 10px 15px -3px #64748b, 0 4px 6px -4px rgb(0 0 0 / 9%);
}

.div-candiatos span {
  margin-block: 0.2rem;
  font-weight: 500;
}

.div-candiatos span:nth-child(2) {
  margin-bottom: 1.2rem;
  font-size: x-large;
  text-shadow: 2px 3px 3px var(--slate900);
}

.div-candiatos span:nth-child(4) {
  margin-bottom: 1rem;
}

.candidato-foto {
  margin-block: 1.5rem;
  height: 20.5rem;
  width: 20rem;
  background-size: 4px;
}

#cd1,
#cd2,
#cd3,
#cd4 {
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: contain;
}

main {
  justify-content: space-around;
  flex-wrap: wrap;
}

.mais-infos span:nth-child(1) {
  background: var(--verde1);
  padding-inline: 1rem;
  padding-block: 0.5rem;
  margin-block: 1rem;
}

#logo-header img {
  height: 2.5rem;
}

#logo-header img:hover {
  scale: 1.1;
}

.porcentagem {
  border: solid 1px black;
  height: 1.5rem;
  width: 50vw;
}

#porcentagem-1,
#porcentagem-2,
#porcentagem-3,
#porcentagem-4 {
  background: var(--verde1);
  height: 1.4rem;
  width: 0rem;
  transition: all 1s;
}

.swal2-footer a {
  color: #545454;
}

.swal2-footer a:hover {
  color: #848484;
}

#votar-link {
  margin-top: 2rem;
}

#enviar {
  width: 10rem;
  box-shadow: 0 10px 15px -3px #04745123, 0 4px 6px -4px #04745123;
}

#enviar:hover {
  cursor: pointer;
  background: var(--verdeDark);
  box-shadow: 0 10px 15px -3px #05966862, 0 4px 6px -4px #0596683d;
}
